@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

menu {
    font-family: 'Poppins', sans-serif;
    height: 50px;

    }

    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px;
    }

    header ul li {
            list-style: none;
            margin-left: 20px; 
}

header ul li a:hover {
    background: #BD1AC0;
    color: aqua;
    border-radius: 20px;
    
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:black;
    font-weight: bold;
    }

header {
    width: 100%;
    height: 100px;
    background-color: chartreuse;

}

header .logo{
    height: 100%;

}

.logo img{
 width: 150px;
}
section{
    background-color: rgb(50, 212, 112);
    width: 70%;
    float: left;
}

section h1{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

section p{
    color: #015001;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 figure img {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

footer {
    background-color:chartreuse;
    width: 143%;
    height: 100px;

}
